body {                    
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

#logo{
    background-image: url(Images/logo.png);
    background-position: center;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: contain;
    height:80px;
    width: 70%;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:40%;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

h4 {
    margin: 10px 0;
    font-size: 18px;
    color: #666;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
    width: 45%;
    padding: 4px 2px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="reset"],
input[type="submit"] {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.submit{
    background-color:#d9241c;
    color: #ffffff;

}

@media (max-width: 476px) {
 .container{
    width: 100%;
 }   
}